//https://www.color-blindness.com/color-name-hue/
//https://colorscheme.ru/color-converter.html
$_white:								#fff;
$_shamrock:							#2ecc71;
$_shamrock75:		 				rgba($_shamrock, .75);
$_river-bed:						#566366;
$_suva-grey:						#919191;
$_trout: 								#4b5456;

$_swamp:								#252e30;
$_black-squeeze:				#f2f2f1;
$_black-pearl:					#191f21;

$_warning:							#f44336;

//=============================================
$color-1: 	$_white;
$color-2: 	$_shamrock;
$color-3: 	$_shamrock75;
$color-4:		$_river-bed;
$color-5: 	$_suva-grey;
$color-6: 	$_trout;
$color-7: 	$_swamp;
$color-8: 	$_black-squeeze;
$color-9: 	$_black-pearl;
$color-10: 	$_warning;

//===========================================
