@import "reset";
@import "animate";


//libs
@import "../libs/slick/slick.css";
@import "../libs/slick/slick-theme.css";

//separate files
@import "fonts";
@import "variables";
@import "mixins";
@import "template-selectors";
@import "general";
@import "scroll";

@import "animate-custom";


//Start
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {

}

.page {
  
}

.container {
  max-width: 1230px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
  min-height: 100vh;
  background-color: $color-9;

  &-info {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 500;
    transform: translate(-50%, -50%);
  }

  #particles-js {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .caption {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      @include font-primary(60px, $color-1, 700);
      text-transform: uppercase;
      padding: 15px 0;
      border-top: 2px solid $color-1;
      border-bottom: 2px solid $color-1;
    }
  }

  .more {
    margin-top: 50px;

    &__link {
      @extend %link_button;
      padding: 15px 35px;
      border: 2px solid $color-1;
      @include font-primary(18px, $color-1, 700);
    
      &:hover,
      &:focus {
        border-radius: 25px;
        @include font-primary(18px, $color-9, 700);
      }
    }
  }

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 25px;
    background: url("../img/down-arrow.svg") no-repeat center center / cover;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scrollDown 1.5s ease-in-out infinite;
  }
}

.intro {
  position: sticky;
  top: 0;
  z-index: 500;
  padding: 20px 0;
  background-color: $color-7;

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // position: relative;
  }

  .logo {

    &__link {

    }

    &__text {
      @include font-primary(30px, $color-1, 700);
      text-transform: uppercase;

      &_colored {
        @include font-primary(30px, $color-2, 700);
      }
    }
  }

  .nav {
    // width: 80%;
    // max-width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.open {
      // visibility: visible;
      opacity: 1;
      transform: scale(1);
    }

    @include for-tablet-landscape-up {
      // width: 100%;

      background:#333;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 500;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform-origin: right top;
      transform: scale(0);
      transition: all 0.5s ease-in-out;
      overflow: hidden;

      flex-direction: column;



    }


    &__list {
      // width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      @include for-tablet-landscape-up {
        flex-direction: column;
      }
    }

    &__item {

    }

    &__link {
      display: block;
      @include font-primary(16px, $color-1, 700);
      text-transform: uppercase;
      padding: 5px 15px;

      &_active {
        @include font-primary(16px, $color-2, 700);
      }

      &:hover {
        @include font-primary(16px, $color-2, 700);
      }
    }

    
   

  }

  .hamburger-menu {
    display: none;
    // position: absolute;
    // top: -10px;
    // right: 0;
    // z-index: 5000;
    position: relative;
    z-index: 600;
    @include for-tablet-landscape-up {
      display: block;
    }

    @include for-desktop-up {     
      // display: none;
    }
  }

  .overlay {
    background:#333;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    width:100%;
    height:100%;
    opacity: 0;
    transform-origin: right top;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    // visibility: hidden;
    
    &.open {
      // visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
 


  
}

.locked {
  overflow: hidden;
}


















.specification {
  padding: 100px 0;

  &-info {
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .card {
    &__title {
      @include font-primary(28px, $color-4, 700);
      text-transform: uppercase;
    }

    &__text {
      margin-top: 15px;
      @include font-primary(18px, $color-5, 400, 30px);
    }
  }
}

.about {
  background-color: $color-8;

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .avatar {
    width: 25%;

    &__image {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .description {
    width: 65%;
  }

  .heading {
    &__title {
      @include font-primary(30px, $color-4, 700);
      text-transform: uppercase;
    }

    &__text {
      margin-top: 15px;
      @include font-primary(18px, $color-5, 400, 30px);
    }
  }

  .content {

  }

  .cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
  }

  .card {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 25px;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 40px;
      background: url("../img/logo_html.svg") no-repeat center center / cover;
      justify-self: center;
    }

    $listLogo: html css javascript vsc;
    @each $currentLogo in $listLogo {
      $i: index($listLogo, $currentLogo);

      &:nth-of-type(#{$i}) {
        &::before {
          background: url("../img/logo_#{$currentLogo}.svg") no-repeat center center / cover;
        }
      }
    }

    &__title {
      @include font-primary(22px, $color-4, 700);
      text-transform: uppercase;
    }

    &__text {
      @include font-primary(18px, $color-5, 400, 30px);
      grid-column: 2;
    }
  }
}

.skills {
  padding: 100px 0;

  &-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(270px, 560px));
    grid-column-gap: 95px;
  }

  .heading {
    display: flex;
    flex-direction: column;

    &__title {
      @include font-primary(30px, $color-4, 700);
      text-transform: uppercase;
    }

    &__text {
      margin-top: 45px;
      @include font-primary(18px, $color-5, 400, 30px);
    }

    &__contact {
      margin-top: 45px;
      align-self: flex-start;
    }

    &__link {
      @extend %link_button;
      padding: 15px 35px;     
    }
  }

  .content {
    margin-top: 75px;
  }

  .progress-bars {

  }

  .progress-bar {
    margin-top: 40px;

    &:first-of-type {
      margin-top: 0;
    }

    &__title {
      @include font-primary(22px, $color-4, 700);
      text-transform: uppercase;
    }

    &__container {
      margin-top: 15px;
      width: 100%;
      background-color: $color-8;
    }

    &__text {
      width: 10%;
      @include font-primary(18px, $color-1, 700);
      text-align: right;
      padding: 8px 10px 4px 10px;
      background-color: $color-2;
    }
  }
}

.resume {
  background-color: $color-8;
  padding: 100px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translate(-50%, -50%);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid $color-8;
  }

  &-info {
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      @include font-primary(30px, $color-4, 700);
      text-transform: uppercase;
    }

    &__text {
      margin-top: 45px;
      @include font-primary(18px, $color-5, 400, 30px);
      text-align: center;
    }
  }

  .more {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;

    &__link {
      @extend %link_button;

      &_creative {
        padding: 17px 20px;
        border: 2px solid transparent;

        &:hover,
        &:focus {
          @include font-primary(18px, $color-2, 700);
        }
      }
    }
  }
}

.brief {
  padding: 100px 0;

  &-info {
  }

  .sections {
  }

  .section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 75px;
    padding: 100px 0 0 0;

    &:first-of-type {
      padding: 0 0 100px 0;
      border-bottom: 1px solid $color-5;
    }
  }

  .heading {
    &__title {
      @include font-primary(30px, $color-4, 700);
      text-transform: uppercase;
    }

    &__text {
      margin-top: 45px;
      @include font-primary(18px, $color-5, 400, 30px);
    }
  }

  .content {
    margin-top: 75px;
  }

  .articles {
  }

  .article {
    margin-top: 80px;

    &:first-of-type {
      margin-top: 0;
    }

    &__heading {
      padding-bottom: 25px;
    }

    &__title {
      @include font-primary(22px, $color-4, 700);
      text-transform: uppercase;

      &_size-s {
        margin-top: 20px;
        @include font-primary(18px, $color-5, 400);
        text-transform: none;
      }

      &_bold {
        @include font-primary(18px, $color-5, 500);
      }
    }

    &__content {
      padding-top: 25px;
      border-top: 1px solid $color-5;
    }

    &__text {
      @include font-primary(18px, $color-5, 400, 30px);
    }
  }
}

.quotes {
  background-color: $color-8;
  padding: 100px 0 70px 0;

  &-info {
    display: flex;
    // // justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .heading {
  }

  .content {
    //  max-width: 1060px;
    width: 1060/1200 * 100%;
  }

  .testimonials {
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
      @include font-primary(21px, $color-5, 400, 30px, italic);
      text-align: center;
    }

    &__author {
      margin-top: 45px;
    }

    &__link {
      @include font-primary(18px, $color-4, 700);
      text-transform: uppercase;
    }
  }

  .slick-dots {
    // margin-top: 50px;
    // position: static;
    bottom: -60px;

    li.slick-active {
      button {
        &::before {
          content: "";
          background-color: $color-2;
        }
      }
    }

    li {
      margin: 0;

      button {
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 2px solid $color-2;
          opacity: 1;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }
      }
    }
  }
}

.portfolio {
  padding: 100px 0;
  background-color: $color-9;

  &-info {
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      @include font-primary(30px, $color-1, 700);
      text-transform: uppercase;
    }

    &__text {
      max-width: 1020px;
      margin-top: 45px;
      @include font-primary(18px, $color-5, 400, 30px);
      text-align: center;
    }
  }

  .content {
    margin-top: 95px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 370px));
    // grid-template-columns: repeat(2,  1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: center;
  }

  .card {
    position: relative;
    // width: 25%;
    // padding: 10px;

    // &::before {
    //   content: '';
    //   display: block;
    //   width: 770px;
    //   height: 200px;
    //   background: url('../img/bg_cloud_12.png') no-repeat center top / cover;
    //   position: absolute;
    //   bottom: -50px;
    //   animation: animatedTranslate 100s linear infinite alternate;
    // }

    &__head {
    }

    &__img {
      display: block;
      width: 100%;
      height: auto;
    }

    &__body {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0;
      transition: opacity 1s ease-out;
      background-color: $color-3;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__list {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__item {
    }

    &__link {
      display: block;
      width: 50px;
      height: 50px;

      &_designer {
        background: url("../img/icon_designer.svg") no-repeat center center / contain;
      }

      &_psd {
        background: url("../img/icon_psd.svg") no-repeat center center / contain;
      }

      &_view {
        background: url("../img/icon_view.svg") no-repeat center center / contain;
      }

      &_web-design {
        background: url("../img/icon_web-design.svg") no-repeat center center / contain;
      }

      &:hover {
      }
    }

    &:hover {
      .card__body {
        opacity: 1;
      }
    }
  }

  .more {
    justify-self: center;
    align-self: center;
    grid-column: 1 / 4;

    &__button {
      @extend %reset_button;
      @include font-primary(18px, $color-2, 700);
      padding: 15px 37px;
      border: 2px solid $color-2;
      text-transform: uppercase;
    }
  }
}

.contact {
  background-color: $color-7;
  padding: 100px 0;

  &-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(270px, 560px));
    grid-column-gap: 75px;
  }

  .heading {
    &__title {
      @include font-primary(30px, $color-1, 700);
      text-transform: uppercase;
    }

    &__text {
      margin-top: 45px;
      @include font-primary(18px, $color-5, 400, 30px);
    }
  }

  .list {
    margin-top: 45px;

    &__item {
      display: flex;
      margin-top: 15px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    &__text {
      width: 100px;
      @include font-primary(18px, $color-1, 400);
    }

    &__link {
      @include font-primary(18px, $color-5, 400);

      &:hover {
        @include font-primary(18px, $color-1, 400);
      }
    }
  }

  .content {
    margin-top: 80px;
  }

  .form {
    &__group {
      margin-top: 40px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    &__label {
      @include font-primary(18px, $color-1, 400);

      &::after {
        content: " *";
        @include font-primary(18px, $color-5, 400);
      }
    }

    &__input {
      margin-top: 20px;
      width: 100%;
      border: none;
      padding: 17px 15px;
      background-color: $color-6;
      @include font-primary(18px, $color-1, 400);
    }

    &__textarea {
      margin-top: 20px;
      width: 100%;
      height: 280px;
      border: none;
      padding: 15px;
      background-color: $color-6;
      @include font-primary(18px, $color-1, 400);
    }

    &__button {
      @extend %reset_button;
      @include font-primary(18px, $color-1, 700);
      text-transform: uppercase;
      background-color: $color-9;
      padding: 19px 37px 15px 37px;      
    }
  }
}

// https://stackoverflow.com/questions/50081665/how-to-set-particles-js-to-background

.footer {
  background-color: $color-9;
  padding: 50px 0;

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading {
    &__title {
      @include font-primary(14px, $color-6, 500);
      text-transform: uppercase;
    }
  }

  .content {
    margin-top: 30px;
  }

  .socials {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
      display: block;
      width: 35px;
      height: 35px;
      padding: 8px;
      border-radius: 50%;
      background-color: $color-6;
      transition: color 0.25s ease;
      color: $color-9;

      &:hover {
        color: $color-1;
      }
    }

    &__svg {
      fill: currentColor;
    }
  }
}

@import "adaptive";